<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <input type="text" placeholder="server id" id="serverId" />
        <input type="button" value="найти" id="sendButton">
    </form>

    <div style="margin-top: 0.3%;">
        <button onclick="comp()">Сравнить</button>
        <button onclick="updateCache()">Обновить данные</button>
        <button onclick="mapsStats()">Статистика карт</button>
        <!-- <button onclick="toMainPage()">Сортировка по умолчанию</button> -->
    </div>

    <div th:each="server, state : ${servers}" style="cursor: pointer; margin-left: 1.5%; width:30%">
        <h3 th:text="'#' + ${state.count} + '    ' + ${server.hostname} + ' (' + ${server.popularityRatio} + ')'" th:id="${server.mid}" th:attr="onclick='detailedData(' + ${server.mid} + ')'"></h3>
        <hr>
    </div>
</body>

<script src="/index.js"></script>

</html>